<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="../../Css/CommonCss1.0.css" rel="stylesheet" />
 
    <script src="../../Js/jquery-1.11.1.min.js"></script>

    <script src="../../Js/Common2.0.js"></script>
    <script src="../../Js/Cover2.0/Cover2.0.js"></script>
    <link href="../../Js/Cover2.0/Cover2.0.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            //全默认
            //$.dialog();


            ////窗口重置的时候，禁止重置dialog 的位置
            //$.dialog({
            //    resizeSite: false
            //});

            //自定义宽度和高度
            // $.dialog({
                // resizeSite: false,
                // width: 300,
            // height: 200
            // });

            //$.dialog({
            //    resizeSite: false,
            //    width: 300,
            //    height: 200,
            //    showIcon: false,
            //    content: 'aaaaaaaaaaaaaaaa'
            //});


            $.dialog({
                resizeSite: false,
                width: 300,
                height: 200,
                top: 50,
                showIcon: false,
                content: 'aaaaaaaaaaaaaaaa'
            });
        });
    </script>
</head>
<body>
    <div style="width:300px;height:100px; background-color:red;opacity:0.5;position:absolute;"></div>
    <div style="height:500px;background-color:#ffffff;">asdfsadf</div>
    <div style="height: 500px; background-color: #00ffff; position:relative">
        asdfsadf
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />v
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
        asdfsadf<br />
    </div>
</body>
</html>
